/* Backup Style Configs. */

    /*
    display: table;
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
    */

/* Test Space */

    /*

    */

/* Delete comment syntax to reveal borders */
/*
table td {
    border-width: 5px;
    border-style: solid;
    border-color: white;
}
*/

/* Overall CSS Styling*/

h1, h2, h3, h4, h5, 
h6 {
    color: whitesmoke;
    font-family: Arial;
    font-size:large;
}

p, 
li {
    color: whitesmoke;
    font-family: Arial;
    font-size: medium;
    letter-spacing: normal;
    line-height: 0.75cm;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: gold;
}

tr {
    border-color: white;
}

header {
    padding-top: 20px;
    padding-left: 50px;
}

.break {
    background-color: gold;
    opacity: 90%;
    margin-left: 50px;
    margin-right: 50px;
}

/* Background Image*/

.bg {
        background: url(../Images/background-img.jpeg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

/* Footer */

footer {
    color: white;
    text-align: center;
    padding-bottom: 50px;
}

/* Navigation Bar - Header */

.navbar-header {	
    overflow: auto;
    padding-top: 0px;
    padding-left: 50px;
    padding-bottom: 30px;
}

.navbar-header a {
    font-style: italic;
    text-decoration: none;
    float: center;
    padding: 10px;
}

.navbar-header a:active {
    background-color: antiquewhite;
}

/* Navigation Bar - Footer */

.buttonnavbar-footer {
    font-family: Arial;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    padding-top: 5px;    
    width: 100%;
}

.buttonnavbar-footer a {
    float: center;
    padding: 10px;
}

.buttonnavbar-footer a:active {
    background-color: antiquewhite;
}

/* Home */

.home-content {
    padding: 175px;
    padding-bottom: 75px;
    text-align: center;

}

#discoball-home {
    position: inherit;
    top: 0px;
}

.home-image {
    padding-top: 20px;
    position: relative;
}

.homenavbar-footer a {
    font-family: Arial;
    font-weight: normal;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    float: center;
    padding: 10px;
}

.homenavbar-footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

#home-title-1 {
    font-family: Arial;
    font-weight: bold;
}

#home-title-2 {
    font-family: Arial;
    font-weight: bold;
}

#home-title-3 {
    font-family: Arial;
    font-weight: normal;
}

#home-title-4 {
    font-family: Arial;
    font-weight: normal;
    font-style: italic;
}

/* Personal Info */

.personalinfo-header {
    text-align: left;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 755px;
}

.personalinfo-header h1 {
    font-size: 50px;
    color: white;
}

.personalinfo-information table td {
    display: table-cell;
    width: auto;
    align-content: left;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

/*
#personalinfotable-data {
    width: 50%;
}
*/

.personalinfo-interest {
    display: block;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Ideal Job */

.idealjob-header {
    text-align: left;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 755px;
}

.idealjob-header h1 {
    font-size: 50px;
    color: white;
}

.idealjob-brief, 
.idealjob-information {
    display: block;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.idealjob-brief p {
    font-size: large;
    font-weight: normal;
}


/* Personality Profile */

.personalityprofile-header {
    text-align: left;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 755px;
}

.personalityprofile-header h1 {
    font-size: 50px;
    color: white;
}

#personality-links {
    text-align: center;
    font-size: 70px;
    font-style: italic;
    padding-top: 50px;
}

#infp-1 {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 10px;
}

#infp-2 {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 25px;
}

.infp-info {
    display: block;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;
}

.vark-1 {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.vark-info {
    display: block;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Project Idea */

.projectidea-header {
    text-align: left;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 755px;
}

.projectidea-header h1 {
    font-size: 50px;
    color: white;
}

.projectidea-overview, .projectidea-motivation, .projectidea-description, .projectidea-toolsNtech, .projectidea-skills,
.projectidea-outcome {
    display: block;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#pidescription-list, 
#pitoolsNtech-list {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* References */

.references-header {
    text-align: left;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 755px;
}

.references-header h1 {
    font-size: 50px;
    color: white;
}
